:host {
  .page-container {
    // padding: 30px;
    .page-title {
      @extend .big-bold-18 !optional;
      // @extend .mb-1;
      margin-bottom: 1rem;
      color: #343a40;
    }
    .page-content {
      padding: 30px;
      background: white;
      border: 1px solid #e7e7eb;
      border-radius: 5px;
      min-width: min-content;
    }
  }
}
