.send-button {
    margin-top: 20px;
    color: #0095d9;
    font-size: 20px;
    border-block-color: #0095d9;
    border: solid;
  
  }
  .div-send-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }