canvas {
    display: block;
    border: 1px solid rgb(105, 105, 105);
    background-color: var(--ion-color-success);
  }
button {
    margin: 10px;
    margin-left: 10px;
  }
  .divColumn {
    display: flex;
    flex-direction: column;
    align-items: right;
  }
  .printme {
    display: none;
  }
  @media print {
    .no-printme  {
      display: none;
    }
    .printme  {
      display: block;
    }
  }